.column {
  width: 95px;
  height: 40px;
  max-width: 95px;
  font-size: 11px;
  text-align: center;
  float: left;
  vertical-align: middle;
  display: table;
  justify-content:center;
}


.column p {
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}




.column p:hover {
  text-decoration-line: underline;
}
