<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <title>Notas de Reclamação!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
